/* App backgrounds */

.background1 {
	width: 100%;
	height: 89vh;
	background-color: lightblue;
	position: relative;
}

.background2 {
	width: 100%;
	height: 89vh;
	background-color: lightgray;
	position: relative;
}

/* Button Styling */

.btn1 {
	font-size: 30px;
	border-radius: 12px;
	color: blue;
}

@media screen and (max-width: 767px) {
	.btn1 {
	font-size: 20px;
	border-radius: 12px;
	color: blue;
	}
}

.btn2 {
	font-size: 25px;
	border-radius: 12px;
	color: blue;
	position: absolute;
	top: 85%;
	left: 90%;
	transform: translate(-90%, -85%)
}

@media screen and (max-width: 767px) {
	.btn2 {
		font-size: 20px;
		border-radius: 12px;
		color: blue;
		position: absolute;
		top: 95%;
		left: 90%;
		transform: translate(-90%, -95%)
	}
}

.btn3 {
	font-size: 25px;
	border-radius: 12px;
	color: blue;
	position: absolute;
	top: 85%;
	left: 10%;
	transform: translate(-10%, -85%)
}

@media screen and (max-width: 767px) {
	.btn3 {
		font-size: 18px;
		border-radius: 12px;
		color: blue;
		position: absolute;
		top: 85%;
		left: 10%;
		transform: translate(-10%, -85%)
	}
}

/* Container and Tex Styling */

.textContCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
}

.textContTop {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	width: 90%;
	text-align: center;
}

.textHead1 {
	font-size: 3em;
	font-family: 'georgia';
	font-weight: bold;
}

@media screen and (max-width: 767px) {
	.textHead1 {
	font-size: 2.1em;
	font-family: 'georgia';
	font-weight: bold;
	}
}

.textHead2 {
	font-size: 2.2em;
	font-family: 'georgia';
	font-weight: bold;
}

@media screen and (max-width: 767px) {
	.textHead2 {
	font-size: 1.5em;
	font-family: 'georgia';
	font-weight: bold;
	}
}

.textHead3 {
	font-size: 2.2em;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.textHead3 {
	font-size: 1.5em;
	font-family: 'georgia';
	font-weight: bold;
	}
}

/* Bullet List and Radio Button List Styling */

.myListsRadios {
	display: inline-block;
	padding-left: 0;
	text-align: left;
	font-size: 1.5em;
}

@media screen and (max-width: 767px) {
	.myListsRadios {
		display: inline-block;
		padding-left: 0;
		text-align: left;
		font-size: 1em;
	}
}

/* Result Page Styling */

.resHigh {
	display: inline-block;
	padding-left: 0;
	text-align: left;
	background-color: #e6a7a8;
}

.resLow {
	display: inline-block;
	padding-left: 0;
	text-align: left;
	background-color: #a7e1a8;
}

.resStart {
	display: inline-block;
	padding-left: 0;
	text-align: left;
	background-color: gray;
}

.textP1 {
	font-size: 2em;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.textP1 {
	font-size: 1.1em;
	text-align: center;
	}
}

